amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1687675480808/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1698890160476/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1712833670177/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1707043907952/work
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1675194219027/work
Flask-WTF @ file:///home/conda/feedstock_root/build_artifacts/flask-wtf_1697216059914/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1703201714305/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1713358107246/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900163039/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
PuLP @ file:///Users/runner/miniforge3/conda-bld/pulp_1705065037601/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pypng @ file:///home/conda/feedstock_root/build_artifacts/pypng_1657927854370/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1709992573517/work
qrcode @ file:///home/conda/feedstock_root/build_artifacts/qrcode_1675713361580/work
setuptools==69.2.0
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1711289851807/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1698235201373/work
wheel==0.43.0
WTForms @ file:///home/conda/feedstock_root/build_artifacts/wtforms_1708541191515/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
