<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Interface</title>
</head>
<body>
    <h2>Register Mentor</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.job_description.label }}<br>
            {{ form.job_description(rows=4) }}
        </p>
        <p>
            {{ form.timeslots.label }}<br>
            {{ form.timeslots(size=5) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
