<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <title>Mentee Preferences</title>
</head>

<body>
    <h2>Mentee Preferences</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </div>
        {% for mentor_form in form.mentor_ratings %}
            {{ mentor_form.hidden_tag() }}
            <div>
                {{ mentor_form.rating.label }}<br>
                {{ mentor_form.rating() }}
            </div>
        {% endfor %}
        <div>{{ form.submit() }}</div>
    </form>
</body>

</html>