<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching QR Codes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Favicon code -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>
<body>
    <div class="qr-container">
        <div class="qr-item">
            <h3>Mentor Form:</h3>
            <img src="data:image/jpeg;base64,{{ qr_mentor }}" alt="Mentor QR Code">
        </div>
        <div class="qr-item">
            <h3>Mentee Form:</h3>
            <img src="data:image/jpeg;base64,{{ qr_mentee }}" alt="Mentee QR Code">
        </div>
    </div>
</body>
</html>
